<div class="row">
    <div class="col-12">
        <img src="https://images.unsplash.com/photo-1596386461350-326ccb383e9f">
    </div>
    <div class="col-12">
        <div class="card text-center mt-2">
            <h1> We revolutionise travel. Come, join us. </h1>
            <h3>As we take on the journey of unlocking and rediscovering destinations in India that largely remain
                unexplored, we need you to join us as fellow dreamers.</h3>
            <h3>From local travel and property experts to college graduates, working professionals to property owners,
                we
                have opportunities for everyone.</h3>
        </div>
    </div>

    <div class="col-12 mt-2">
        <img src="https://images.unsplash.com/photo-1625244724120-1fd1d34d00f6">
    </div>

    <div class="col-12 mt-2">
        <div class="card text-center">
            <h1>Our Range of Accommodations</h1>
            <h3>Each Zostel product comes with a unique experience for both travellers and hosts. Explore the different
                types of Zostel properties and select how you wish to host the world.</h3>
        </div>
    </div>

    <div class="col-12 mt-2">
        <img src="https://img.freepik.com/free-photo/hammocks-with-palm-trees_1203-201.jpg">
    </div>
</div>