.header {
    height: 50px;
    background-color: #ac3627;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
    color: white;
}

.logout-icon {
    cursor: pointer;
}

.main-content {
    height: 100%;
    overflow-x: hidden;
}

.clickable {
    cursor: pointer;
}